//----------переменные------------
$lg-container:1060px;
$md-container:992px;
$sm-container:750px;
$xs-container:auto;
$product-block1-height:500px;
$product-block2-height:600px;
$product-block3-height:713px;
$product-block4-height:800px;
$product-block6-height:700px;
$product-block7-height:900px;
$product-block8-height:500px;
$product-block9-height:675px;
$product-block10-height:650px;
$product-block11-height:760px;
$product-block12-height:700px;
$product-block13-height:350px;
$product-block15-height:600px;
$product-block17-height:500px;


$header-height:55px;

//------------расширения-------------
.width-lg{
  max-width: 100%;
  width: $lg-container;
}
.font-MYRIADPRO-LIGHT{
  font-family: MYRIADPRO-LIGHT,Myriad Pro, Arial, Helvetica, sans-serif;
}
//-------------------------------------
@font-face {
  font-family: MYRIADPRO-LIGHT;
  src: url('../fonts/MYRIADPRO-LIGHT.OTF');
}

@font-face {
  font-family: myriadprolightTTF;
  src: url('../fonts/myriadprolight.ttf');
}

@font-face {
  font-family: MYRIADPRO-REGULAR;
  src: url('../fonts/MYRIADPRO-REGULAR.OTF');
}
body{
  margin: 0;
  @extend .font-MYRIADPRO-LIGHT;
}
header, .products-nav, .content, footer{
  width:100%;
  @extend .width-lg;
  margin: 0 auto;
}
.header-nav, .products-nav__container, .content__container, .footer-container{
  @extend .width-lg;
  margin: 0 auto;
}
.content__container{
  height: 100%;
}
header{
  height: $header-height;
  position: relative;
  background-color: white;
  border-bottom: 1px solid black;
}
.header-left{
  position: absolute;
  float: left;
  z-index: 1;
  width: 43%;
  height: 100%;
  background-color: #556B2F;
}
.header-nav{
  z-index: 10;
  position: relative;
  background-color: white;
  height: $header-height;
}
.header-nav__container {
  margin:0 auto;
  display: flex;
  align-items:center;
  justify-content:space-between;
}
.header-nav__logo{
  background-color: #556B2F;
  display: flex;
  padding-left: 23px;
  .header-nav__logo1, .header-nav__logo2{
    height: $header-height;
    display: inline-flex;
    align-items: center;
  }
  .header-nav__logo1{
    padding-right: 21px;
    border-right: 2px solid white;
  }
  .header-nav__logo2{
    padding-left: 17px;
    padding-right: 16px;
  }
}
.header-nav__wrap{
  display: flex;
  align-items: center;
  padding-right: 18px;
  justify-content: space-between;
  width: 59%;
  a, b{
    font-size: 20px;
    color: #111;
    text-decoration: none;
  }
  b{
    font-weight: 800;
  }
  a:hover{
    color: #06F;
  }
}
.header-nav__lang-wrap{
  .header-nav__lang{
    text-transform: uppercase;
    text-decoration: none;
    border: 1px #CCC solid;
    border-radius: 4px;
    padding: 4px 6px;
    margin-left: 5px;
    font-size:14px;
  }
  a:hover{
    color: #06F;
    background: rgb(249, 249, 249);
  }
  a:active{
    background: rgb(240, 240, 240);
  }
}
.products-nav{
  height: 30px;
  z-index: 1000;
  background-color: rgb(249, 249, 249);
  opacity: 0.95;
//  transition: top 1s;

}
.products-nav__container{
  display: flex;
  justify-content:space-between;
  height: 100%;
  align-items: center;

}
.products-nav__right{
  padding-right: 31px;
  width: 65%;
  display: flex;
  justify-content:space-around;
  a{
    font-size: 17px;
    text-decoration: none;
    color: #666;
  }
}
.products-nav__left{
  position: relative;
  left:8%;
  a{
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    color: #666;
  }
}
.products-nav-fixed {

  position:fixed;     //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ВЕРНУТЬ!!!!!!!!!!!!!!!!!!
  top:0px;
  width: 100%;
  transition: top 1s;

}
.header-wrap{
  top:-55px;
  transition: top 1s;
}
.header-wrap-fixed{
  height: 85px;
  width: 100%;
  position: fixed;
  top:0;
  transition: top 1s;
}
.product-block1__txt p{
  margin: 0;
}
.product-block1{
  height: $product-block1-height;
  width: 100%;
  background: url('../images/banner.png') no-repeat;
  background-position: center;
  .content__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .product-block1__txt{
      margin-right: 80px;
      width: 50%;
      padding-bottom: 91px;
      .product-block1__title{
        font-size: 58px;
        color: #2d343c;
        padding-bottom: 20px;
      }
      .product-block1__p1{
        font-size: 19px;
        color: #2d343c;
        padding-right: 15px;
        padding-bottom: 30px;
      }
      .product-block1__p2{
        color: #888;
        font-size: 18px;
        font-style: italic;
      }
    }
  }
}
.product-block2{
  height: $product-block1-height;
  width: 100%;
  padding: 60px 0;
  .content__container{
    display: flex;
    align-items: center;
    .product-block2__txt{
      text-align: center;
      .product-block2__title{
        color: #111;
        font-size: 32px;
        margin: 6px;
        margin-top: 27px;
        padding-bottom: 3px;
      }
      .product-block2__p1{
        font-size: 22px;
        line-height: 22pt;
        padding: 0 30px;
      }
      .product-block2__p3{
        padding-right: 15px;
        font-size: 18px;
        line-height: 26px;
        font-style: italic;
        float: right;
        width: 214px;
        text-align: right;
        margin: 9px 0;
      }
    }
  }
}
.product-block3{
  height: $product-block3-height;
  width: 100%;
  .product-block3__wrapper{
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    background-color:#fffaf0;
    .content__container{
    display: flex;
    align-items: center;
    justify-content: center;
    .product-block3__txt{
      text-align: center;
      padding: 60px 0;
      .product-block3__title{
        color: #111;
        font-size: 58px;
        margin: 0;
        padding-bottom: 30px;
      }
      .product-block3__p1{
        font-size: 22px;
        line-height: 22pt;
        padding: 0 42px;
      }
      .product-block3__icons{
        padding-top: 46px;
        .product-block3__ico1, .product-block3__ico2, .product-block3__ico3{
          width: 160px;
          height: 160px;
          background-image: url("../images/sprite.png");
          background-repeat: no-repeat;
          display: inline-block;
          margin: 0px 34px;
        }
        .product-block3__ico1{
          background-position: -177px -3px;
        }
        .product-block3__ico2{
          background-position: 4px -2px;
        }
        .product-block3__ico3{
          background-position: -358px -3px;
        }
      }
    }
  }
  }
}
.product-block4{
  height: $product-block4-height;
  width: 100%;
  background: url('../images/indication.jpg') no-repeat;
  background-position: center;
  .content__container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .product-block4__txt{
      text-align: center;
      padding-top: 58px;
      .product-block4__title{
        color: #111;
        font-size: 58px;
        margin: 0;
      }
      .product-block4__p1{
        font-size: 22px;
        line-height: 22pt;
        padding: 0 42px;
      }
    }
  }
}
.product-block5{
  width: 100%;
  .product-block5__wrapper{
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    background-color:#fffaf0;
    .content__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .product-block5__txt{
      display: flex;
      text-align: left;
      align-items: center;
      height: 33%;
      padding: 28px 0;
      border-bottom: 1px solid black;
      .product-block5__title{
        font-size: 30px;
        margin: 0;
        padding-left: 25px;
        width: 34%;
      }
      .product-block5__p1{
        font-size: 20px;
        margin: 0;
        width: 94%;
      }
    }
    .product-block5__txt3{
      border-bottom: none;
    }
  }
  }
}
.product-block6{
  height: $product-block6-height;
  width: 100%;
  background: url('../images/control.jpg') no-repeat;
  background-position: center;
  .content__container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .product-block6__txt{
      text-align: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .product-block6__title{
        color: #111;
        font-size: 58px;
        margin: 0;
        padding-top: 80px;
      }
      .product-block6__p-wrap{
        padding: 22px 53px;
        .product-block6__p1 {
          font-size: 22px;
          line-height: 22pt;
          padding: 0 42px;
        }
      }
    }
  }
}
.product-block7{
  height: $product-block7-height;
  width: 100%;
  .product-block7__wrapper{
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    background-color: white;
    background: url('../images/readings.jpg') no-repeat;
    background-position: 96%;
    .content__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    .product-block7__txt{
      display: inline-block;
      width: 50%;
      padding-left: 20px;
      .product-block7__title{
        font-size: 58px;
        color: #2d343c;
        padding-bottom: 20px;
        margin: 0;
      }
      .product-block7__p1{
        font-size: 26px;
        color: #2d343c;
        padding: 0 27px;
      }
      .product-block7__icons{
        padding-top: 46px;
        .product-block7__ico1, .product-block7__ico2, .product-block7__ico3{
          width: 85px;
          height: 85px;
          display: inline-block;
          background-image: url("../images/sprite.png");
          background-repeat: no-repeat;
          margin: 0px 22px;
        }
        .product-block7__ico1{
          background-position: -16px -360px;
        }
        .product-block7__ico2{
          background-position: -117px -360px;
        }
        .product-block7__ico3{
          background-position: -212px -360px;
        }
      }
    }
  }
  }
}
.product-block8{
  height: $product-block8-height;
  width: 100%;
  background: url('../images/results.jpg') no-repeat;
  background-position: center;
  .content__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    .product-block8__txt{
      width: 50%;
      padding-right: 54px;
      .product-block8__title{
        font-size: 58px;
        margin: 0;
      }
      .product-block8__p1{
        font-size: 26px;
        padding: 0 55px;
      }
    }
  }
}
.product-block9{
  height: $product-block9-height;
  width: 100%;
  .product-block9__wrapper{
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    background: url('../images/silver_electrodes.jpg') no-repeat;
    background-color: black;
    background-position: 88% 2px;
    .content__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    .product-block9__txt{
      color: #fffaf0;
      width: 50%;
      padding-left: 20px;
      .product-block9__title{
        font-size: 58px;
        margin: 0;
      }
      .product-block9__p1{
        font-size: 26px;
        padding: 0 39px;
      }
    }
  }
  }
}
.product-block10{
  height: $product-block10-height;
  width: 100%;
  background: url('../images/detachable_electrodes.jpg') no-repeat;
  background-position: center;
  .content__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    .product-block10__txt{
      width: 50%;
      padding-right: 54px;
      .product-block10__title{
        font-size: 58px;
        margin: 0;
        padding: 0 10px;
      }
      .product-block10__p1{
        font-size: 26px;
        padding: 0 55px;
      }
    }
  }
}
.product-block11{
  height: $product-block11-height;
  width: 100%;
  background-color: white;
  .content__container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    padding-top: 50px;
    .product-block11__txt{
      width: 50%;
      .product-block11__title{
        font-size: 45px;
        margin: 0;
        padding: 0 10px;
      }
      .product-block11__img1{
        width: 525px;
        height: 300px;
        background: url('../images/copper_electrodes.jpg') no-repeat;
      }
      .product-block11__img2{
        width: 525px;
        height: 300px;
        background: url('../images/gold_electrodes.jpg') no-repeat;
      }
      .product-block11__p1{
        font-size: 18px;
        padding: 0 55px;
      }
    }
    .product-block11__txt2{
      border-left:1px solid #CCC;
    }
  }
}
.product-block12{
  height: $product-block12-height;
  width: 100%;
  background: url('../images/connecting.jpg') no-repeat;
  background-position: center;
  .content__container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .product-block12__txt{
      text-align: center;
      padding-top: 100px;
      .product-block12__title{
        color: #fffaf0;
        font-size: 58px;
        margin: 0;
      }

    }
  }
}
.product-block13{
  height: $product-block13-height;
  width: 100%;
  background: url('../images/connecting2.jpg') no-repeat;
  background-position: center;
  .content__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    .product-block13__icons{
      padding-right: 141px;
      .product-block13__ico-wrap{
        display: inline-block;
        .product-block13__ico{
          width: 150px;
          height: 133px;
          background: url(../images/sprite.png) no-repeat;
          margin: 0 29px;
        }
        .product-block13__ico1{
          background-position: -6px -460px;
        }
        .product-block13__ico2{
          background-position: -177px -460px;
        }
        .product-block13__txt{
          font-size: 18px;
          color: #555;
          padding-top: 5px;
          margin: 0;
        }
      }
    }
  }
}
.product-block14{
  width: 100%;
  background-color:white;
  .content__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .product-block14__title1{
      font-size: 58px;
      text-align: center;
    }
    .product-block14__txt{
      display: flex;
      text-align: left;
      align-items: flex-start;
      height: 33%;
      padding: 28px 0;
      border-bottom: 1px solid #ccc;
      .product-block14__title{
        margin: 0;
        padding-left: 25px;
        width: 34%;
        font-size: 28px;
        color: #444;
      }
      .product-block14__p1{
        font-size: 18px;
        margin: 0;
        width: 94%;
        .product-block14__list{
          margin: 0;
          .product-block14__item{
            list-style: none;
            margin: 5px 0;
          }
        }
        .product-block14__img1{
          width: 630px;
          height: 400px;
          background: url('../images/color.jpg') no-repeat;
        }
        .product-block14__img2{
          width: 630px;
          height: 400px;
          background: url('../images/size.png') no-repeat;
        }
      }
      .product-block14__p2{
        display: flex;
        .product-block14__list{
          display: inline-block;
          width: 50%;
          .product-block14__item{
            color:#999;
            .product-block14__list1{
              padding:0;
              .product-block14__item1{
                color:black;
                list-style: none;
                padding:0;
                padding:5px 0
              }
            }
          }
        }
        .product-block14__list-bord{
          border-right: 1px solid #ccc;
        }
      }
    }
  }
}
.product-block15{
  height: $product-block15-height;
  width: 100%;
  background: url('../images/accessories.jpg') no-repeat;
  background-position: center;
  .content__container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    .product-block15__txt{
      text-align: center;
      padding-top: 119px;
      padding-left: 101px;
      .product-block15__title{
        color: #2d343c;
        font-size: 58px;
        margin: 0;
      }

    }
  }
}
.product-block16{
  width: 100%;
}
.product-block16__wrap{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  .product-block16__wrap1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33.33%;
  }
}

.product-block16 .product-block16__link{
  background-color: #f9f9f9;
  text-decoration: none;
  text-align: center;
  margin: 5px;
  background-size: cover;
  display: flex;
  justify-content: center;
  .product-block16__link__txt{
    .product-block16__link__txt1, .product-block16__link__txt2{
      margin: 0;
    }
  }

}
.product-block16__link1{
//  width: 348px;
  height: 400px;
  background: url(../images/acc/accessories_dx1.png);
  .product-block16__link__txt{
   .product-block16__link__txt2{
     padding: 5px 0;

   }
  }
}
.product-block16__link2{
//  width: 348px;
  height: 230px;
  background-image: url(../images/acc/accessories_tablet02.png);
}
.product-block16__link3{
//  width: 344px;
  height: 230px;
  background-image: url(../images/acc/accessories_ec01.png);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .product-block16__link__txt{
    margin-bottom: 10%;
  }
}
.product-block16__link4{
//  width: 344px;
  height: 400px;
  background-image: url(../images/acc/accessories_electrodes735cu.png);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .product-block16__link__txt{
    margin-bottom: 10%;
  }
}
.product-block16__link5{
//  width: 348px;
  height: 640px;
  background-image: url(../images/acc/accessories_case_smart_l.png);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .product-block16__link__txt{
    margin-bottom: 10%;
  }
}
.product-block16{
  .product-block16__link6{
  //  width: 1060px;
    width:100%;
    height: 230px;
    background-image: url(../images/acc/accessories_dx2.png);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .product-block16__link__txt{
      margin-top:0;
      width:175px;
      padding-left: 7%;
    }
  }
}
.product-block16__link7{
//  width: 525px;
  width: 49%;
  height: 230px;
  background-image: url(../images/acc/accessories_ent01.png);
}
.product-block16__link8{
//  width: 525px;
  width: 49%;
  height: 230px;
  background-image: url(../images/acc/accessories_ev01z.png);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .product-block16__link__txt{
    margin-bottom: 10%;
  }
}
.product-block16__link__txt{
  margin-top: 10%;
  .product-block16__link__txt1{
    font-size: 20px;
    color:black;
  }
  .product-block16__link__txt2{
    font-size: 16px;
    padding-top: 5px;
    color: #999;
  }
}
.product-block17{
  height: $product-block17-height;
  width: 100%;
  background: url('../images/ens.jpg') no-repeat;
  background-position: center;
  margin-top:5px;
}
.footer-top{
  width: 100%;
  height: 269px;
  background-color: #222;
  color:#999;
  border-top:#ffd335 solid 4px;
  .footer-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    .footer-top__block{
      width: 33%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .footer-top__block1__ico{
        width: 55px;
        height: 46px;
        background: url("../images/letmedical_777.png") no-repeat;
      }
      .footer-top__block1__txt{
        text-align: center;
      }
    }
    .footer-top__block1{
      font-size: 15px;
    }
    .footer-top__block2{
      font-size: 15px;
      color: #999;
      letter-spacing: 2.7px;
      height: 108px;
      border-left: 2px #999 solid;
      border-right: 2px #999 solid;
      .footer-top__block2__txt{
        padding: 0 76px;
        text-align: center;
      }
    }
    .footer-top__block3{
      .footer-top__block3__txt1{
        font-size: 27px;
        margin-top:0;
      }
      .footer-top__block3__txt2{
        font-size: 15px;
        text-decoration: none;
        color: #777;
      }
    }
  }
}
.footer-bottom{
  width: 100%;
  height: 97px;
  background-color: #111;
  color:#666;
  .footer-container{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    .footer-bottom__block{
      margin: 0;
      width: 38%;
      text-align: left;
      padding-left: 30px;
    }
  }
}

@media (min-width: 768px)and (max-width: 1060px) {
  .product-block1{
    background-size: 181.13% auto;
    background-position: 50% 100%;
  }
  .product-block1 .content__container .product-block1__txt .product-block1__p1,
  .product-block16__link__txt.product-block16__link__txt2{
    font-size: 1.8vw;//19px
  }
  .product-block2 .content__container .product-block2__txt .product-block2__title{
    font-size: 3.1vw;//32px
  }
  .product-block2 .content__container .product-block2__txt .product-block2__p1{
    font-size: 2.1vw;//22px
  }
  .product-block4 .content__container .product-block4__txt .product-block4__title,
  .block3__wrapper .content__container .product-block3__txt .product-block3__title,
  .product-block6 .content__container .product-block6__txt .product-block6__title,
  .product-block7 .product-block7__wrapper .content__container .product-block7__txt .product-block7__title,
  .product-block8 .content__container .product-block8__txt .product-block8__title,
  .product-block9 .product-block9__wrapper .content__container .product-block9__txt .product-block9__title,
  .product-block10 .content__container .product-block10__txt .product-block10__title,
  .product-block12 .content__container .product-block12__txt .product-block12__title,
  .product-block14 .content__container .product-block14__title1,
  .product-block15 .content__container .product-block15__txt .product-block15__title{
    font-size: 5.5vw; //58px;
  }
  .block3__wrapper .content__container .product-block3__txt .product-block3__p1,
  .product-block4 .content__container .product-block4__txt .product-block4__p1,
  .product-block6 .content__container .product-block6__txt .product-block6__p-wrap .product-block6__p1{
    font-size: 2.1vw; //22px;
  }
  .product-block7 .product-block7__wrapper .content__container .product-block7__txt .product-block7__p1,
  .product-block8 .content__container .product-block8__txt .product-block8__p1,
  .product-block9 .product-block9__wrapper .content__container .product-block9__txt .product-block9__p1,
  .product-block10 .content__container .product-block10__txt .product-block10__p1{
    font-size: 2.4vw; //26px;
  }
  .product-block11 .content__container .product-block11__txt .product-block11__title{
    font-size: 4.2vw; //45px;
  }
  .product-block2 .content__container .product-block2__txt .product-block2__p3,
  .product-block11 .content__container .product-block11__txt .product-block11__p1,
  .product-block14 .content__container .product-block14__txt .product-block14__p1{
    font-size: 1.7vw; //18px;
  }

  .product-block5 .product-block5__wrapper .content__container .product-block5__txt .product-block5__title {
    font-size: 2.8vw; //30px;
  }
  .product-block16__link__txt .product-block16__link__txt1,
  .product-block5 .product-block5__wrapper .content__container .product-block5__txt .product-block5__p1 {
    font-size: 1.9vw; //20px;
  }
  .product-block14 .content__container .product-block14__txt .product-block14__title {
    font-size: 2.6vw; //28px;
  }
  .footer-top .footer-container .footer-top__block1,
  .footer-top .footer-container .footer-top__block2,
  .footer-top .footer-container .footer-top__block3 .footer-top__block3__txt2 {
    font-size: 1.4vw; //15px;
  }
  .footer-top .footer-container .footer-top__block3 .footer-top__block3__txt1 {
    font-size: 2.5vw; //27px;
  }
  .footer-bottom .footer-container .footer-bottom__block{
    font-size: 1.5vw; //16px;
  }
  .product-block1, .product-block4, .product-block6, .product-block8, .product-block10, .product-block12,
  .product-block13, .product-block15, .product-block17{
    background-size: 181.13% auto;
    background-position: 50% 100%;
  }
}
@media screen and (max-width: 767px) {
  .product-block1 .content__container .product-block1__txt .product-block1__p1,
  .product-block16__link__txt.product-block16__link__txt2{
    font-size: 13.7px;//19px
  }
  .product-block2 .content__container .product-block2__txt .product-block2__title{
    font-size: 23.1px;//32px
  }
  .product-block2 .content__container .product-block2__txt .product-block2__p1{
    font-size: 15.88px;//22px
  }
  .product-block4 .content__container .product-block4__txt .product-block4__title,
  .block3__wrapper .content__container .product-block3__txt .product-block3__title,
  .product-block6 .content__container .product-block6__txt .product-block6__title,
  .product-block7 .product-block7__wrapper .content__container .product-block7__txt .product-block7__title,
  .product-block8 .content__container .product-block8__txt .product-block8__title,
  .product-block9 .product-block9__wrapper .content__container .product-block9__txt .product-block9__title,
  .product-block10 .content__container .product-block10__txt .product-block10__title,
  .product-block12 .content__container .product-block12__txt .product-block12__title,
  .product-block14 .content__container .product-block14__title1,
  .product-block15 .content__container .product-block15__txt .product-block15__title{
    font-size: 41.88px; //58px;
  }
  .block3__wrapper .content__container .product-block3__txt .product-block3__p1,
  .product-block4 .content__container .product-block4__txt .product-block4__p1,
  .product-block6 .content__container .product-block6__txt .product-block6__p-wrap .product-block6__p1{
    font-size: 15.88px; //22px;
  }
  .product-block7 .product-block7__wrapper .content__container .product-block7__txt .product-block7__p1,
  .product-block8 .content__container .product-block8__txt .product-block8__p1,
  .product-block9 .product-block9__wrapper .content__container .product-block9__txt .product-block9__p1,
  .product-block10 .content__container .product-block10__txt .product-block10__p1{
    font-size: 18.77px; //26px;
  }
  .product-block11 .content__container .product-block11__txt .product-block11__title{
    font-size: 33px; //45px;
  }
  .product-block2 .content__container .product-block2__txt .product-block2__p3,
  .product-block11 .content__container .product-block11__txt .product-block11__p1,
  .product-block14 .content__container .product-block14__txt .product-block14__p1{
    font-size: 13px; //18px;
  }

  .product-block5 .product-block5__wrapper .content__container .product-block5__txt .product-block5__title {
    font-size: 21.66px; //30px;
  }
  .product-block16__link__txt .product-block16__link__txt1,
  .product-block5 .product-block5__wrapper .content__container .product-block5__txt .product-block5__p1 {
    font-size: 14.44px; //20px;
  }
  .product-block14 .content__container .product-block14__txt .product-block14__title {
    font-size: 20.22px; //28px;
  }
  .footer-top .footer-container .footer-top__block1,
  .footer-top .footer-container .footer-top__block2,
  .footer-top .footer-container .footer-top__block3 .footer-top__block3__txt2 {
    font-size: 10.83px; //15px;
  }
  .footer-top .footer-container .footer-top__block3 .footer-top__block3__txt1 {
    font-size: 19.5px; //27px;
  }
  .footer-bottom .footer-container .footer-bottom__block{
    font-size: 11.5px; //16px;
  }

}
@media (min-width: 768px) and (max-width: 991px) {}
@media screen and (max-width: 480px) {

}





